:root {
    --void: rgb(54, 66, 68);
    --sage: rgb(178, 250, 234);
    --mooncheese: rgb(241, 241, 210);
    --bleen: rgb(3, 170, 170);
}

/* Set font family to Arial, Helvetica, sans-serif*/
* {
    font-family: Arial, Helvetica, sans-serif;
}


/* Puts header in a flexbox and assigns it the color --sage */
header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--sage);
    padding: 10px;

}

/* H1 has a 50px font size and is the color ==void */
h1 {
    font-size: 50px;
    color: var(--void)
}

/* Wraps the top right site navigation, assigns a 40px font*/
header nav {
    flex-wrap: wrap;
    margin-left: 900px;
    padding: 15px;
    font-size: 40px;
    width: 900px;
    margin-top: -100px;
}

/* Assigns the anchors in the header section the color --void */
header a {
    color: var(--void)
}

/* Assigs the background color --void and the text color --mooncheese to the body of the webpage */
body {
    background-color: var(--void);
    color: var(--mooncheese);
}

/* Sets the three sections in flexboxes with 30px font*/
.segment {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}

/* Reassigns the H3 sections a 50px font*/
h3 {
    margin-right: 50px;

}

/* Sets the content for each of the three sections (about, my work, and contact) into flex box with 20px font*/
.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

/* Settings for the first (primary) project to display it larger than the others */
.primarycard {
    flex: 1, 0, 0;
    flex-wrap: nowrap;
    border-style: dashed;
    border-width: 1px;
    padding: 10px;
    float: center;
    width: 900px;
}

/* Centers text in the primary card */
.primarycard p {
    text-align: center;
}


.primarycard img {
    width: 100%;
}

/* Settings for the remaining cards, which are located below the primary card and are much smaller -25% of the space, and centered in their boxes*/
.card {
    display: flex;
    flex-wrap: wrap;
    border-style: dashed;
    border-width: 1px;
    padding: 10px;
    float: center;
    width: 25%;
    margin-left: 20px;
}

.card p a {
    text-align: center;
}

.card img {
    width: 100%;
    float: center;
}

.blank {
    color: var(--void);
}

/* Establishes flexbox settings for the Contact Me section */
.contact a {
    color: var(--bleen);
    flex: 1, 0, 0;
    flex-wrap: nowrap;
    border-style: solid;
    border-width: 0px;
    padding: 25px;
    float: left;
    width: 20%;
}


/* Assigns footer color of --mooncheese and light padding, also centers it */
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    color: var(--mooncheese);

}

/* Moves nav to the left as the window shrinks
causes cards (projects) to narrow with the screen, and condenses the contact section as screen narrows, adjusts font size to fit smaller screens*/
@media screen and (max-width: 992px) {
    h1 {
        font-size: 30px;
        padding: 10px;
    }
    header nav {
        margin-left: 500px;
        font-size: 20px;
    }
    .card {
        width: 50%;
    }
    .contact a {
        width: 50%;
    }
}

@media screen and (max-width: 760px) {
    h1 {
        font-size: 25px;
    }
    header nav {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 20px;
    }
    .card {
        width: 50%;
    }
}
